/* main.css */
iframe {
    border: none !important;
    outline: none !important;
  }


.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: 0.25rem;
    max-width: 80rem;
}

.alert-green {
  --bs-alert-color: rgb(15, 81, 50);
  --bs-alert-bg: rgb(209, 231, 221);
  --bs-alert-border-color: rgb(186, 219, 204);
}

.alert-blue {
  --bs-alert-color: #084298;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color:#b6d4fe;
}


.alert-yellow {
  --bs-alert-color:#664d03;
  --bs-alert-bg: #fff3cd;
  --bs-alert-border-color: #ffecb5 ;
}

.alert-red {
  --bs-alert-color:#842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.alert-teal {
  --bs-alert-color: #055160;
  --bs-alert-bg:  #cff4fc;
  --bs-alert-border-color: #b6effb;
}

.alert-gray {
  --bs-alert-color: #41464b;
  --bs-alert-bg:  #e2e3e5;
  --bs-alert-border-color: #d3d6d8;
}

